<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>Node1</name>
  <description></description>
  <remoteFS>/home/ubuntu</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.948.vb_8050d697fec">
    <host>172.31.27.77</host>
    <port>22</port>
    <credentialsId>d20ec75e-7e31-453c-afca-62c0c0731076</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>label1</label>
  <nodeProperties/>
</slave>